NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCOR0g2j-aSdE8H9s8H0H-YwzLgBvfjb38
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=dragonbyte-15c76.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=dragonbyte-15c76
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=dragonbyte-15c76.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=291609933098
NEXT_PUBLIC_FIREBASE_APP_ID=1:291609933098:web:b3cd5517ec8c08f8701a53
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-ZD0Q829VM5